db.sqlite*
pruebadb.sqlite3
geckodriver.log
venv
vfinper
vfinperprod
__pycache__
*.pyc
.idea
.swp
.tags
diario/settings_app.py

.project
.pydevproject
.settings
.mypy_cache
.pytest_cache
vfinper-old
vfinper3.11
