# app
asgiref==3.11.0
beautifulsoup4==4.9.3
Django < 7.0
django-case-insensitive-field==1.0.7
django-stubs==4.2.6
urllib3==2.6.2


# test
behave==1.2.6
behave-django==1.4.0
mypy==1.6.1
pytest==9.0.2
pytest-django==4.11.1
pytest-mock==3.15.1
pytest-mypy==1.0.1
selenium==4.39.0
