/* TODO: Retirar estilos obsoletos */

a {
  color: black;
  text-decoration: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9.5pt;
}

div.divisor {
  height: 20px;
}

ul.menu {
  list-style-type: none;
  padding-left: 0px;
  margin: 0px;
}

ul.menu li {
  margin-bottom: 3px;
  white-space: nowrap;
}

.menu {
  white-space: nowrap;
  border-spacing: 0px;
  margin-left: 2px;
  margin-right: 2px;
}

.menu-item {
  padding-left: 5px;
  padding-right: 5px;
}

tr.menu-row:first-of-type td div {
  padding-top: 5px;
}

tr.menu-row:last-of-type td div {
  padding-bottom: 5px;
}

.menu-item-content {
  width: 160px;
  overflow: auto;
  float: left;
}

.menu-item-edit {
  width: 15px;
  padding-left: 2.5px;
  padding-right: 2.5px;
  text-align: center;
  float: left;
}

.menu-item-edit:last-of-type {
  padding-right: 0px;
}

table.table-striped tr:nth-child(even) {
  background-color: #f8ffb6;
}

table.planilla {
  white-space: nowrap;
  border-collapse: collapse;
}

table.planilla td {
  border: 0.05px solid gray;
  padding-left: 2px;
  padding-right: 2px;
}

.numero {
  font-family: monospace;
  text-align: right;
}

.chico {
  font-size: 9pt !important;
}

.fondo_resaltado {
  background-color: lightgray;
}

@media(max-width: 576px) {
  h1 {
    font-size: 2em;
  }
}