.table td {
  font-size: 11pt;
}

.numero {
  font-family: monospace;
}

.chico {
  font-size: 9pt !important;
}

.fondo_resaltado {
  background-color: lightgray;
}

@media(max-width: 576px) {
  h1 {
    font-size: 2em;
  }
}