.div-menu {
    padding: 5px;
    overflow-x: scroll;
}

.div-lista {
    padding: 5px;
    overflow-x: scroll;
}

.div-titulares {
    background-color: #488778 !important;
}

.menu-item.class_td_titular:hover {
    background-color: #6b8f86;
}

.menu-item.class_td_titular.selected {
    background-color: #28c700;
}

td.class_capital_titular {
    padding-left: 10px;
    padding-right: 10px;
}



.div-cuentas {
    background-color: #EA5D34 !important;
}

.class_td_subcuenta {
    background-color: #e08366;
}

.acumulativa {
    background-color: #b44929;
}

.menu-item.class_td_cuenta:hover {
    background-color: #f3a086;
}

.menu-item.class_td_subcuenta:hover {
    background-color: #f3a086;
}

.div-detalles-subcuenta {
    background-color: #f0e6c7;
}

td.class_saldo_cuenta {
    color: #888;
    padding-left: 10px;
    padding-right: 10px;
}

.mon_cuenta {
    color: #000 !important;
}




.div-monedas {
    background-color: #e4c202;
}

td.class_cotizacion_moneda {
    padding-left: 10px;
    padding-right: 10px;
    background-color: yellow;
}

.menu-item.class_td_moneda:hover {
    background-color: #d4c56b;
}

.menu-item.class_td_titular.selected {
    background-color: #e48a02;
}




.class_div_dia {
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: rgb(238, 232, 174);
    padding-top: 10px;
    padding-bottom: 10px;
}

.class_div_mov_nuevo {
    background-color: greenyellow;
    padding-top: 5px;
    padding-bottom: 5px;
    width: fit-content;
}

.class_titulo_dia {
    font-size: larger;
    margin-left: 10px;
    margin-bottom: 10px;
}


table.class_table_movimientos {
    text-align: left;
    margin-left: 10px;
}

table.class_table_movimientos thead {
    background-color: darkkhaki;
}

table.class_table_movimientos th {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

table.class_table_movimientos td {
    padding-left: 5px;
    padding-right: 5px;
}

tr.mov_selected {
    background-color: #e4c202;
}

.cell_concepto {
    width: 250px;
}

.cell_detalle {
    width: 250px;
}

.cell_cuentas {
    width: 170px;
}

.scrollable {
    white-space: nowrap;
    overflow-x: scroll;
}
