/* TODO: retirar estilos obsoletos */

.div-menu {
    padding: 5px;
    overflow-x: scroll;
}

.div-lista {
    padding: 5px;
    overflow-x: scroll;
}

.div-titulares {
    background-color: #488778 !important;
}

.div-cuentas {
    background-color: #EA5D34 !important;
}

.div-subcuentas {
    background-color: #E18F77;
}

.div-detalles-subcuenta {
    background-color: #f0e6c7;
}

.cell_fecha {
    max-width: 65px;
}

.cell_concepto {
    max-width: 250px;
}

.cell_detalle {
    max-width: 200px;
}

.cell_cuenta {
    max-width: 100px;
}

.cell_cuentas {
    max-width: 85px;
}

.scrollable {
    overflow: auto;
}



.navbar {
    overflow: hidden;
    background-color: #333;
    clear: both;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.subnav {
    float: left;
    overflow: hidden;
}

.subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
    background-color: red;
}

.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: red;
    width: 100%;
    z-index: 1;
}

.subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
}

.subnav-content a:hover {
    background-color: #eee;
    color: black;
}

.subnav:hover .subnav-content {
    display: block;
}

/* div {
    margin: 3px;
} */
