<tr id=id_row_cta_{{ cta.sk }} class="menu-row class_div_cuenta">
  <td class="menu-item class_td_cuenta
            {% if cta.es_acumulativa %} acumulativa{% endif %}
            {% if cta.cta_madre is not None %} class_td_subcuenta{% endif %}"
  >
    <div class="menu-item-content class_nombre_cuenta">
      <a id="id_link_cta_{{ cta.sk }}" class="class_link_cuenta"
         href="{{ cta.get_absolute_url }}">
        {{ cta.nombre }}
      </a>
    </div>
    <div class="menu-item-edit">
      <a id="id_link_cta_mod_{{ cta.sk }}" href="{{ cta.get_edit_url }}?next={{ request.get_full_path }}">E</a>
    </div>
    <div class="menu-item-edit">
      <a id="id_link_cta_elim_{{ cta.sk }}" href="{{ cta.get_delete_url }}?next={{ request.get_full_path }}">B</a>
    </div>
  </td>
  {% for mon in monedas %}
    {% include "diario/snippets/saldo_en_moneda.html" %}
  {% endfor %}
</tr>
{% for subcuenta in cta.cuentas %}
  {% include "diario/snippets/cuenta.html" with cta=subcuenta subc=True %}
{% endfor %}
