{% load historicos %}
{% load movimientos %}

<div class="class_div_dia">
  <div class="class_titulo_dia">
    <strong>
      <span class="class_span_fecha_dia">{{ dia.str_dia_semana }}</span> - Saldo:
      <span class="class_span_saldo_dia">{% saldo dia=dia %}</span>
    </strong>
  </div>
  <table id="id_table_movimientos_dia_{{dia.sk}}" class="class_table_movimientos">
    <thead id="id_thead_movimientos_dia_{{dia.sk}}" class="class_thead_movimientos"><tr>
      <th id="id_th_orden_dia_{{dia.sk}}"></th>
      <th id="id_th_concepto_{{dia.sk}}">Concepto</th>
      <th id="id_th_detalle_{{dia.sk}}">Detalle</th>
      <th id="id_th_cta_entrada_{{dia.sk}}">Entra en</th>
      <th id="id_th_cta_salida_{{dia.sk}}">Sale de</th>
      <th id="id_th_importe_{{dia.sk}}">Importe</th>
      <th>Menu</th>
    </tr></thead>
    {% for mov in dia|movs_seleccionados:filtro %}
      {% include "diario/snippets/movimiento.html" with mov=mov %}
    {% endfor %}
  </table>
</div>
