{% load cotizaciones %}

<tr class="menu-row class_div_moneda">
  <td class="menu-item class_td_moneda">
    <div class="menu-item-content class_div_nombre_moneda">
      <a id="id_link_mon_{{ mon.sk }}" class="class_link_moneda" href="#">
        {{ mon.nombre }}
      </a>
    </div>
    <div class="menu-item-edit">
      <a id="id_link_mon_mod_{{ mon.sk }}" href="{{ mon.get_edit_url }}">
        E
      </a>
    </div>
    <div class="menu-item-edit">
      <a id="id_link_mon_elim_{{ mon.sk }}" href="{{ mon.get_delete_url }}">
        B
      </a>
    </div>
  </td>
  <td id="id_cotizacion_c_{{ mon.sk }}" class="numero chico class_cotizacion_moneda">
    {% cotizacion moneda=mon compra=True %}
  </td>
  <td id="id_cotizacion_v_{{ mon.sk }}" class="numero chico class_cotizacion_moneda">
    {% cotizacion moneda=mon compra=False %}
  </td>
</tr>
