{% extends 'diario/base.html' %}
{% block contenido %}
<div id="id_msj_ctas_erroneas">
  <p>Las siguientes cuentas tienen saldos que no coinciden con la suma de sus movimientos</p>
  {% for cta in ctas_erroneas %}
  <p>{{ cta.nombre }}
    <a href="{% url 'modificar_saldo' cta.sk %}?ctas={{ request.GET.ctas }}"
       class="btn btn-primary class_btn_corregir">
      Corregir Saldo
    </a>
    {% if cta.es_interactiva %}
    <a href="{% url 'agregar_movimiento' cta.sk %}?ctas={{ request.GET.ctas }}"
       class="btn btn-primary class_btn_agregar">
      Agregar movimiento
    </a>
    {% endif %}
  </p>
  {% endfor %}
</div>
{% endblock contenido %}
