<tr id="id_row_cot_{{ cot.sk }}" class="class_row_cot">
  <td class="class_td_fecha">{{ cot.fecha|date:"Y-m-d" }}</td>
  <td class="class_td_cot_compra">{{ cot.importe_compra|floatformat:2 }}</td>
  <td class="class_td_cot_venta">{{ cot.importe_venta|floatformat:2 }}</td>
  <td class="class_td_menu">
    <a href="{{ cot.get_delete_url }}?next={{ request.get_full_path }}"
       class="class_link_elim_cot">
      B
    </a>
    <a href="{{ cot.get_edit_url }}?next={{ request.get_full_path }}"
       class="class_link_mod_cot">
      E
    </a>
  </td>
</tr>
