{% extends 'diario/base.html' %}
{% load static %}
{% load historicos %}

{% block extra-css %}
{% endblock extra-css %}

{% block contenido %}

<section id="id_saldos" class="text-center">

  {% block saldo_pag %}
  <div id="id_div_saldo_pag" class="card mt-3 border-danger class_div_totales">
    <div class="card-header bg-danger text-light" id="id_div_titulo_pag">
      <h4>{% block titulo_pag %}{% endblock titulo_pag %}</h4>
    </div>
    <div id="id_div_importe_saldo_pag" class="card-body text-danger numero">
      {% block importe_saldo_pag %}{% endblock importe_saldo_pag %}
    </div>
  </div>
  {% endblock saldo_pag %}

  {% block grid_titulares %}
    <div id="id_grid_titulares" class="card-deck mt-3">
    {% for tit in titulares %}
      <div id="id_div_titular_{{ tit.titname|lower }}" class="card border-success class_div_titular">
        <div class="card-header bg-success text-light class_div_nombre_titular">
          <a href="{% url 'tit_detalle' tit.titname %}" class="text-light class_link_titular" >
            {{ tit.nombre }}
          </a>
        </div>
        <div id="id_capital_{{ tit.titname }}" class="card-body text-success numero class_capital_titular">
          {{ tit.capital|floatformat:2 }}
        </div>
        <div class="card-footer">
          <a href="{% url 'tit_elim' tit.titname %}"
             class="btn btn-danger btn-sm link_elim_titular">Borrar</a>
          <a href="{% url 'tit_mod' tit.titname %}"
             class="btn btn-primary btn-sm link_mod_titular">
            Edit
          </a>
        </div>

      </div>
    {% endfor %}
    </div>
    {% block titular_nuevo %}
    <a href="{% url 'tit_nuevo' %}" id="id_link_titular_nuevo"
       class="class_link_titular btn my-3 btn-primary">
      Titular nuevo
    </a>
    {% endblock titular_nuevo %}
  {% endblock grid_titulares %}

  {% block grid_cuentas %}
  <div id="id_grid_cuentas" class="card-deck mt-3">

    {% for subc in subcuentas %}
    <div id="id_div_cta_{{ subc.slug|lower }}" class="card border-danger class_div_cuenta">
      <div class="card-header bg-danger text-light class_nombre_cuenta">
        <a href="{% url 'cta_detalle' subc.slug %}" class="text-light class_link_cuenta" title="{{subc.nombre}}">
          {{ subc.slug|upper }}
        </a>
      </div>
      <div id="id_saldo_cta_{{ subc.slug|lower }}" class="card-body text-danger numero class_saldo_cuenta">
        {{ subc.saldo|floatformat:2}}
      </div>
      <div class="card-footer">
        <a href="{% url 'cta_elim' subc.slug %}"
           class="btn btn-danger btn-sm link_elim_cuenta">Borrar</a>
        <a href="{% url 'cta_mod' subc.slug %}"
           class="btn btn-primary btn-sm link_mod_cuenta">
          Edit
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endblock grid_cuentas %}

  <a href="{% url 'cta_nueva' %}" id="id_btn_cta_nueva" class="btn my-3 btn-primary">
    Cuenta nueva
  </a>

  {% block verificar_saldos %}
  {% endblock verificar_saldos %}
</section>

<section id="id_lista_ult_movs">
  <a href="{% url 'mov_nuevo' %}" id="id_btn_mov_nuevo" class="btn my-3 btn-primary">
    Movimiento nuevo
  </a>
  <div class="table-responsive">
    <table id="disenio-provisorio" class="table table-sm text-nowrap">
      <thead><tr>
        <th id="id_th_fecha ">Fecha</th>
        <th id="id_th_concepto">Concepto</th>
        <th class="d-none d-lg-table-cell" id="id_th_detalle">Detalle</th>
        <th id="id_th_importe">Importe</th>
        <th id="id_th_cuentas">Cuentas</th>
        <th class="chico fondo_resaltado" id="id_th_general">General</th>
        {% for subc in subcuentas %}
        <th class="chico" id="id_th_{{ subc.slug }}">
          {{ subc.slug }}
        </th>
        {% endfor %}
        <th>Menu</th>
      </tr></thead>

      {% for mov in movimientos reversed %}
      <tr class="class_row_mov">
        <td class="class_td_fecha">{{ mov.fecha|date:'Y-m-d' }}</td>

        <td class="class_td_concepto" title="{{ mov.detalle }}">
          {{ mov.concepto }}
        </td>

        <td class="d-none d-lg-table-cell class_td_detalle">
          {{ mov.detalle|default_if_none:""|truncatechars:50 }}
        </td>

        <td class="text-right
                  {{ mov.str_cuentas }}
                  numero
                  class_td_importe"
            title="{{ mov.str_cuentas }}"
        >
          {{ mov.importe|floatformat:2 }}
        </td>

        <td class="small class_td_cuentas">
          {{ mov.str_cuentas }}
        </td>

        <td class="text-right numero chico fondo_resaltado class_td_general">
          {% with mov as mov %}
            {% block general %}{% endblock general %}
          {% endwith %}
        </td>

        {% for subc in subcuentas %}
        <td class="text-right
                  {% include './snippets/color_saldos.html' %}
                  numero chico class_td_saldo class_td_{{ subc.slug }}"
        >
          {% saldo_historico_en_moneda subc subc.moneda mov %}
        </td>
        {% endfor %}

        <td class="class_td_menu">
          {% if not mov.es_automatico %}
          <a href="{% url 'mov_elim' mov.id %}"
             class="btn btn-danger btn-sm class_link_elim_mov">
            B
          </a>
          <a href="{% url 'mov_mod' mov.id %}"
             class="btn btn-primary btn-sm class_link_mod_mov">
            E
          </a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</section>

{% endblock contenido %}

{% block extrajs %}
<script>
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
{% endblock extrajs %}