{% extends 'diario/base.html' %}
{% block contenido %}
<h4>{{ cta.nombre|default:"Cuenta nueva" }}</h4>
<form id="id_form_cuenta" method="post">
  <div class="form-group">
    {{ form.as_div }}
  </div>
  <button type="submit" id="id_btn_submit" class="btn btn-primary">OK</button>
  {% csrf_token %}
</form>
{% if cta.id %}
  {% if cta.es_interactiva %}
<a href="{% url 'cta_div' cta.sk %}" class="btn btn-warning" id="id_btn_dividir">
  Dividir en subcuentas
</a>
  {% else %}
<a href="{% url 'cta_agregar_subc' cta.sk %}" class="btn btn-warning" id="id_btn_agregar">
  Agregar subcuenta
</a>
  {% endif %}
{% endif %}
{% endblock contenido %}
