<html>
<head>
  <title>Finanzas personales</title>
  <meta charset="utf-8">
</head>
<body>

<h1>Finanzas personales</h1>
<div id="id_div_activo" class="class_div_totales">
  <h3>Activos:</h3>
  <div id="id_importe_activo">0,00</div>
</div>
<div id="id_div_pasivo" class="class_div_totales">
  <h3>Pasivos:</h3>
  <div id="id_importe_pasivo">0,00</div>
</div>
<div id="id_div_saldo_gral" class="class_div_totales">
  <h3>Saldo:</h3>
  <div id="id_importe_saldo_gral">0,00</div>
</div>

<div id="id_grid_cuentas">
  <button id="id_btn_cta_nueva">Cuenta nueva</button>
</div>

<div id="id_lista_ult_movs"></div>
  
</body>
</html>
