<html>
<head>
  <title>Finanzas Personales - Movimientos diarios</title>
  <meta charset="utf-8">
</head>
<body>

  <h1>Finanzas Personales - Movimientos diarios</h1>
  <table id="id_table_movs">
    <tr>
      <th>{{ form.fecha.label_tag }}</th>
      <th>{{ form.concepto.label_tag }}</th>
      <th>{{ form.detalle.label_tag }}</th>
      <th>{{ form.entrada.label_tag }}</th>
      <th>{{ form.salida.label_tag }}</th>
      <th>Total:</th>
    </tr>
  {% for mov in movs %}
    <tr>
      <td id="id_td_fecha">{{ mov.fecha|date:'d-m-Y' }}</td>
      <td id="id_td_concepto">{{ mov.concepto }}</td>
      <td id="id_td_detalle">{{ mov.detalle|default_if_none:'' }}</td>
      <td id="id_td_entrada">{{ mov.entrada|default_if_none:'' }}</td>
      <td id="id_td_salida">{{ mov.salida|default_if_none:'' }}</td>
      <td id="id_td_total"></td>
    </tr>
  {% endfor %}
    <tr>
      <form method="POST">
        <td>{{ form.fecha }}</td>
        <td>{{ form.concepto }}</td>
        <td>{{ form.detalle }}</td>
        <td>{{ form.entrada }}</td>
        <td>{{ form.salida }}</td>
        <td>
          <span id="id_span_total">
            <button id="id_btn_submit" type="submit" style="visibility: hidden">
              Ok
            </button>
          </span>
        </td>
        {% csrf_token %}
      </form>
    </tr>
  </table>
  
</body>
</html>
