{% extends 'diario/base.html' %}
{% load static %}
{% load historicos %}
{% load movimientos %}
{% block extra-css %}
<link rel="stylesheet" href="{% static '/diario/css/home.css' %}">
{% endblock extra-css %}

{% block contenido %}

<section id="id_section_saldos">
  {% if ancestros %}
    <div id="id_div_saldos_madre">
      {% for ancestro in ancestros %}
        <div class="class_div_saldo_ancestro">
          Saldo de cuenta madre {{ ancestro.nombre }}: {% saldo_en_moneda ancestro ancestro.moneda movimiento %}
        </div>
      {% endfor %}
    </div>
  {% endif %}
  <div id = "id_div_saldo_gral" class="Titulo">
    <h1>
      <span id="id_titulo_saldo_gral">{{ titulo_saldo_gral }}:</span>
      <span id="id_importe_saldo_gral">{{ saldo_gral|floatformat:2 }}</span>
    </h1>
  </div>
  {% if hermanas %}
    <div id="id_div_saldos_hermana">
      {% for hermana in hermanas %}
        <div class="class_div_saldo_hermana">
          Saldo de cuenta hermana {{ hermana.nombre }}: {% saldo_en_moneda hermana hermana.moneda movimiento %}
        </div>
      {% endfor %}
    </div>
  {% endif %}
</section>

<section id="id_section_titulares">
  <div id="id_div_menu_titulares">
    <table class="menu">
      <colgroup>
        <col class="div-menu div-titulares"/>
      </colgroup>
      <tbody>
        {% for tit in titulares %}
        <tr class="menu-row class_div_titular">
          <td class="menu-item class_td_titular{% if tit.nombre == titular.nombre %} selected{% endif %}">
            <div class="menu-item-content class_div_nombre_titular">
              <a id="id_link_tit_{{ tit.sk }}" class="class_link_titular" href="{% url 'titular' tit.sk %}">
                {{ tit.nombre }}
              </a>
            </div>
            <div class="menu-item-edit">
              <a id="id_link_tit_mod_{{ tit.sk }}" href="{% url 'tit_mod' tit.sk %}">
                E
              </a>
            </div>
            <div class="menu-item-edit">
              <a id="id_link_tit_elim_{{ tit.sk }}" href="{% url 'tit_elim' tit.sk%}">
                B
              </a>
            </div>
          </td>
          <td id="id_capital_{{ tit.sk }}" class="numero chico class_capital_titular">
            {% cap_historico tit movimiento %}
          </td>
        </tr>
        {% endfor %}
        <tr class="menu-row">
          <td class="menu-item class_td_titular">
            <div id="id_div_titular_nuevo">
              <a id="id_link_titular_nuevo" href="{% url 'tit_nuevo' %}">+</a>
            </div>
          </td>
        </tr>
        <tr class="menu-row">
          <td class="menu-item class_td_titular">
            <div id="id_div_home">
              <a id="id_link_home" href="{% url 'home' %}">Home</a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<section id="id_section_cuentas">
  <div id="id_div_menu_cuentas">
    <table class="menu">
      <colgroup>
        <col class="div-menu div-cuentas"/>
        <col span="3" class="div-menu div-detalles-cuenta"/>
      </colgroup>
      <tbody>
        {% for cta in cuentas %}
          {% include "diario/snippets/cuenta.html" with cta=cta monedas=monedas movimiento=movimiento subc=False %}
        {% endfor %}
        <tr class="menu-row">
          <td class="menu-item class_td_cuenta">
            <div id="id_div_cuenta_nueva">
              <a
                {% if cuenta %}
                  {% if cuenta.es_acumulativa %}
                    href={% url 'cta_agregar_subc' cuenta.sk %}
                  {% else %}
                    href="{% url 'cta_div' cuenta.sk %}"
                  {% endif %}
                {% else %}
                  href="{% url 'cta_nueva' %}"
                {% endif %}
                id="id_link_cuenta_nueva"
              >+</a>
            </div>
          </td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<section id="id_section_monedas">
  <div id="id_div_menu_monedas">
    <table class="menu">
      <colgroup>
        <col class="div-menu div-monedas"/>
      </colgroup>
      <tbody>
        {% for mon in monedas %}
        <tr class="menu-row class_div_moneda">
          <td class="menu-item class_td_moneda">
            <div class="menu-item-content class_div_nombre_moneda">
              <a id="id_link_mon_{{ mon.sk }}" class="class_link_moneda" href="#">
                {{ mon.nombre }}
              </a>
            </div>
            <div class="menu-item-edit">
              <a id="id_link_mon_mod_{{ mon.sk }}" href="{% url 'mon_mod' mon.sk %}">
                E
              </a>
            </div>
            <div class="menu-item-edit">
              <a id="id_link_mon_elim_{{ mon.sk }}" href="{% url 'mon_elim' mon.sk %}">
                B
              </a>
            </div>
          </td>
          <td id="id_cotizacion_{{ mon.sk }}" class="numero chico class_cotizacion_moneda">
            {{ mon.cotizacion|floatformat:2 }}
          </td>
        </tr>
        {% endfor %}
        <tr class="menu-row">
          <td class="menu-item class_td_moneda">
            <div id="id_div_moneda_nueva">
              <a id="id_link_moneda_nueva" href="{% url 'mon_nueva' %}">+</a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<div class="divisor"></div>

<section id="id_section_movimientos" style="clear: both;">
  <div id="id_div_navigator_init" class="pagination-nav mb-4">
    <nav id="id_nav_navigator_init" aria-label="Page navigation">
      <div class="d-flex flex-wrap justify-content-between align-items-center">
        <!-- Botones de navegación -->
        <ul class="pagination mb-0 d-flex flex-wrap">
          <li class="class_li_pagina page-item">
            <a id="id_link_primera_init" class="class_link_pagina page-link"
               href="?page=1#id_section_movimientos"
               title="Últimos días"
            >
              Últimos días
            </a>
          <li class="class_li_pagina page-item {% if not dias.has_previous %}disabled{% endif %}">
            <a id="id_link_anterior_init" class="class_link_pagina page-link"
               href="{% if dias.has_previous %}?page={{ dias.previous_page_number }}#{% else %}#{% endif %}id_section_movimientos"
               title="Días posteriores"
               tabindex="{% if dias.has_previous %}0{% else %}-1{% endif %}"
               aria-disabled="{% if dias.has_previous %}false{% else %}true{% endif %}"
            >
              Días posteriores
            </a>
          </li>

          <!-- Navegación por número de página -->
          {% for nro_pag in dias.paginator.page_range %}
          <li class="class_li_pagina_nro page-item {% if nro_pag == dias.number %}active{% endif %}">
            <a class="class_link_pagina page-link"
               href="?page={{ nro_pag }}#id_section_movimientos"
               aria-disabled="{% if nro_pag == dias.number %}true{% else %}false{% endif %}"
            >
               {{ nro_pag }}
            </a>
          </li>
          {% endfor %}

          <li class="class_li_pagina page-item {% if not dias.has_next %}disabled{% endif %}">
            <a id="id_link_siguiente_init" class="class_link_pagina page-link"
               href="{% if dias.has_next %}?page={{ dias.next_page_number }}#{% else %}#{% endif %}id_section_movimientos"
               title="Días anteriores"
               tabindex="{% if dias.has_next %}0{% else %}-1{% endif %}"
               aria-disabled="{% if dias.has_next %}false{% else %}true{% endif %}"
            >
              Días anteriores
            </a>
          </li>
          <li class="class_li_pagina page-item">
            <a id="id_link_ultima_init" class="class_link_pagina page-link"
               href="?page={{ dias.paginator.num_pages }}#id_section_movimientos"
               title="Primeros días"
            >
              Primeros días
            </a>
          </li>
        </ul>

        <!-- Búsqueda por día -->
        <form id="id_form_buscar_dia_init" class="d-flex mb-0"
              method="get"
              {% if cuenta %}
                action="{% url 'cuenta' cuenta.sk %}#id_section_movimientos"
              {% elif titular %}
                action="{% url 'titular' titular.sk %}#id_section_movimientos"
              {% else %}
                action="{% url 'home' %}#id_section_movimientos"
              {% endif %}
          <div class="input-group">
            <input id="id_input_dia_init" type="date" name="fecha"
                   class="form-control" placeholder="YYYY-MM-DD" aria-label="Buscar día">
            <button id="id_btn_buscar_dia_init" class="btn btn-outline-secondary" type="submit">Buscar</button>
          </div>
        </form>
      </div>
    </nav>
  </div>

  <div id="id_div_mov_nuevo" class="menu-item class_div_mov_nuevo">
    <a href="{% url 'mov_nuevo' %}?next={{ request.path }}" id="id_link_mov_nuevo">
      Movimiento nuevo
    </a>
  </div>

  <div>
    {% for dia in dias %}
    <div class="class_div_dia">
      <div class="class_titulo_dia">
        <strong>
          <span class="class_span_fecha_dia">{{ dia.str_dia_semana }}</span> - Saldo:
          <span class="class_span_saldo_dia">{{ dia.saldo|floatformat:2 }}</span>
        </strong>
      </div>
      <table id="id_table_movimientos_dia_{{dia.sk}}" class="class_table_movimientos">
        <thead id="id_thead_movimientos_dia_{{dia.sk}}" class="class_thead_movimientos"><tr>
          <th id="id_th_orden_dia_{{dia.sk}}"></th>
          <th id="id_th_concepto_{{dia.sk}}">Concepto</th>
          <th id="id_th_detalle_{{dia.sk}}">Detalle</th>
          <th id="id_th_cta_entrada_{{dia.sk}}">Entra en</th>
          <th id="id_th_cta_salida_{{dia.sk}}">Sale de</th>
          <th id="id_th_importe_{{dia.sk}}">Importe</th>
          <th>Menu</th>
        </tr></thead>
        {% for mov in dia|movs_seleccionados:filtro %}
        <tr id="id_row_mov_{{ mov.sk }}" class="class_row_mov{% if mov.pk == pk %} mov_selected{% endif %}">

          <td class="class_td_orden_dia">{{ mov.orden_dia }}</td>

          <td class="class_td_concepto" title="{{ mov.detalle }}">
            <div class="cell_concepto scrollable">
              <a href="
                  {% if sk %}
                    {% url 'titular_movimiento' sk mov.pk %}
                  {% elif sk_cta %}
                    {% url 'cuenta_movimiento' sk_cta mov.pk %}
                  {% else %}
                    {% url 'movimiento' mov.pk %}
                  {% endif %}"
                 id="id_link_mov_{{ mov.sk }}"
                 class="class_link_movimiento">
                {{ mov.concepto }}
              </a>
            </div>
          </td>

          <td class="class_td_detalle">
            <div class="cell_detalle scrollable">
              {{ mov.detalle|default_if_none:""|truncatechars:50 }}
            </div>
          </td>

          <td class="class_td_cta_entrada">
            <div class="cell_cuentas scrollable">
              {{ mov.cta_entrada|default_if_none:"" }}
            </div>
          </td>

          <td class="class_td_cta_salida">
            <div class="cell_cuentas scrollable">
              {{ mov.cta_salida|default_if_none:"" }}
            </div>
          </td>

          <td class="numero class_td_importe" title="{{ mov.str_cuentas }}">
            {{ mov.importe|floatformat:2 }}
          </td>

          <td class="class_td_menu">
            {% if not mov.es_automatico %}
            <a href="{% url 'mov_elim' mov.pk %}?next={{ request.path }}"
               class="class_link_elim_mov">
              B
            </a>
            <a href="{% url 'mov_mod' mov.pk %}?next={{ request.path }}"
               class="class_link_mod_mov">
              E
            </a>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
    {% endfor %}
  </div>

  <div id="id_div_navigator_end" class="pagination-nav mb-4">
    <nav id="id_nav_navigator_end" aria-label="Page navigation">
      <div class="d-flex flex-wrap justify-content-between align-items-center">
        <!-- Botones de navegación -->
        <ul class="pagination mb-0 d-flex flex-wrap">
          <li class="page-item disabled">
            <a id="id_div_boton_anterior_end" class="class_link_pagina page-link" href="#"
               tabindex="-1" aria-disabled="true"
            >
              Anterior
            </a>
          </li>
          <li class="class_li_pagina page-item active"><a class="class_link_pagina page-link" href="#">1</a></li>
          <li class="class_li_pagina page-item"><a class="class_link_pagina page-link" href="#">2</a></li>
          <li class="class_li_pagina page-item"><a class="class_link_pagina page-link" href="#">3</a></li>
          <li id="id_div_boton_siguiente_end" class="class_li_pagina page-item">
            <a class="class_link_pagina page-link" href="#">Siguiente</a>
          </li>
        </ul>

        <!-- Búsqueda por día -->
        <form id="id_form_buscar_dia_end" class="d-flex mb-0">
          <div class="input-group">
            <input id="id_input_dia_end" type="date"
                   class="form-control" placeholder="YYYY-MM-DD" aria-label="Buscar día">
            <button id="id_btn_buscar_dia_end" class="btn btn-outline-secondary" type="submit">Buscar</button>
          </div>
        </form>
      </div>
    </nav>
  </div>

</section>

{% endblock contenido %}

{% block extrajs %}
<script>
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
{% endblock extrajs %}
