{% extends 'diario/base.html' %}
{% block contenido %}
<form method="post">
  <input type="date" name="fecha" id="id_input_fecha" value="{% now 'Y-m-d' %}">
  <input type="text" name="concepto" id="id_input_concepto" placeholder="concepto">
  <input type="number" name="importe" id="id_input_importe" step="0.01">
  <select name="cuenta_entrada" id="id_cta_entrada">
    {% for cuenta in cuentas %}
    <option value="{{ cuenta.id }}">{{ cuenta.nombre }}</option>
    {% endfor %}
  </select>
  <select name="cuenta_salida" id="id_cta_salida"></select>
  <button type="submit" id="id_btn_submit">OK</button>
  {% csrf_token %}
</form>
{% endblock contenido %}